:root {
    --main-background: #fff;
    --smoke-background: #efefef;
    --light-shadow: rgba(0, 0, 0, 0.1);
    --light-smoke: #ececec;
    --light-gray: #454545;
    --muted-color: #9b9b9b;
    --main-org-color: #ef3a4e;
    --gray-100: #f4f4f4;
    --backdrop: #bdbdbd66;
    --success-color: #2ecc71;
    --danger-color: #e74c3c;
    --green-color: #4c9f87;
    --light-shadow-success-color: rgba(46, 204, 113, 0.4);
    --light-shadow-danger-color: rgba(231, 76, 60, 0.4);
    --black: #232323
}


.success-border {
    border: 1px solid var(--success-color) !important;
    box-shadow: 0 0 15px var(--light-shadow-success-color) !important;
}
.danger-border {
    border: 1px solid var(--danger-color) !important;
    box-shadow: 0 0 15px var(--light-shadow-danger-color) !important;
}